
html {
  scroll-behavior: smooth;
  background-color: black;
  font-family: Poppins, serif;
  font-weight: 300;

  color: #fff;
}

h2 {
  font-weight: 300;
}

p{
  font-size: 1.5rem;
}

img.banner-image {
  @apply w-full h-auto;
}

.container {
  @apply mx-auto px-4;
}

.component {
  @apply py-36;
}